.banner{
    height: 460px;
    width: 100%;
}

.banner-in{
    margin: 0 auto;
    width: 1226px;
    height: 460px;
    position: relative;
    /*background: yellow;*/
}

.menu{
    /*float: left;*/
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    width: 234px;
    height: 460px;
    background: rgba(0,0,0,0.6);
    color: #fff;
}

.menu-list{
    height: 420px;
    padding: 20px 0;
}

.menu-list .item{
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #fff;
    /*position: relative;*/
}

.menu-list a{
    color: #fff;
}

.menu-list .iconfont{
    /*position: absolute;
    top: 12px;
    right: 20px;*/
    float: right;
    margin-right: 20px;
    margin-top: 12px;
    font-size: 16px;
    line-height: 16px;
    font-style: normal;
    color: rgba(255,255,255,0.5);
}

.menu-list .item:hover{
    background: #FF6700;
}

.banner .item-hide{
    display: none;
    position: absolute;
    left: 234px;
    top: 0;
    height: 458px;
    width: 992px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,.18)
}

.banner .menu .item:hover .item-hide{
    display: block;
}

.banner .item-hide ul{
    float: left;
    height: 458px;
    width: 248px;
    padding: 2px 0;
    font-size: 14px;
    box-sizing: border-box;
}

.banner .item-hide ul li{
    float: left;
    width: 265px;
    height: 76px;
}

.banner .item-hide ul a{
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    transition: color .2s;
}

.banner .item-hide ul a:hover{
    color: #FF6700;
}

.banner .item-hide img{
    width: 40px;
    height: 40px;
    margin-right: 12px;
    vertical-align: middle;
    line-height: 40px;
}


.ban-cast{
    width: 1226px;
    height: 460px;
    /*overflow: hidden;*/
    float: left;
    position: relative;
}

.ban-cast .slide-left, .ban-cast .slide-right{
    position: absolute;
    top: 50%;
    z-index: 100;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 41px;
    height: 69px;
    background: greenyellow;
}

.ban-cast .slide-left{
    left: 234px;
    background: url("../img/slide-left-right.png") no-repeat -84px 50%;
}

.ban-cast .slide-left:hover{
    background: url("../img/slide-left-right.png") no-repeat 0 50%;
}

.ban-cast .slide-right{
    right: 0;
    background: url("../img/slide-left-right.png") no-repeat -125px 50%;
}

.ban-cast .slide-right:hover{
    background: url("../img/slide-left-right.png") no-repeat -41px 50%;
}

.ban-cast .circle-box{
    position: absolute;
    right: 30px;
    bottom: 20px;
    z-index: 100;
    /*width: 400px;*/
    /*height: 100px;*/
    text-align: right;
    /*background: red;*/
}

.ban-cast .circle{
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    background: rgba(0, 0, 0, .4);
    border: 2px solid rgba(255,255,255,0.3);
}

.ban-cast .circle:hover{
	background: rgba(255, 255, 255, .4);
    border-color: rgba(0, 0, 0, .4);
}

.ban-cast .circle-box .active{
    background: rgba(255, 255, 255, .4);
    border-color: rgba(0, 0, 0, .4);
}

.ban-cast .slide-list{
    position: relative;
    height: 460px;
    width: auto;
}

.ban-cast .slide-item{
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    opacity: 0;
    width: 100%;
    height: 100%;
    /*display: none;*/
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100px;
    /*padding-left: 300px;*/
}

.ban-cast .slide-list .active{
    display: block;
    opacity: 1;
    z-index: 10;
}

.ban-cast img{
    display: block;
    /*float: right;*/
    width: 1226px;
    height: 460px;
}
